*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    line-height: 2rem;
    color: rgb(27, 27, 83);
}

.head__info{
    position: absolute;
    display: inline-block;
    padding-left: 2rem;
    top: 0;
}

#list-style{
    list-style: none;
}

#list-style li{
    padding-left: 2rem;
}

.title-info{
    padding: 1rem 0;
}

.skill-lists{
    width: 25rem;
}

.skill-lists ul{
    
    
}

.skill-lists li{
    list-style: none;
    position: relative;
}

.skill__list p{
    width: fit-content;
    display: inline-block;
}

.skill__star{
    display: inline-block;
    position: absolute;
    right: 2rem;
}